{% extends "base.html" %}
{% block title %}Create survey{% endblock %}
{% block content %}
    <div class="relative flex w-screen h-screen max-w-screen flex-col">
        <div class="relative flex p-10 flex-col space-y-5">
            <h1 class="relative flex text-3xl pb-5 font-semibold">Create survey for program "{{ program.name }}"</h1>
            <form method="post" id="form" action="{% url "org_admin:create_survey" program_pk=program.pk %}" class="relative space-y-5 pb-12 flex-col overflow-y-auto">
                {% csrf_token %}
                <label for="survey_title" class="relative flex text-l">Survey Title</label>
                <input required type="text" id="survey_title" name="survey_title" class="relative flex border-[1px] rounded-xl border-gray-300 h-12 w-72 p-3">
                <br>
                <h1 class="relative flex text-l">Questions:</h1>
                <div id="questions"></div>
                <input type="button" value="Add another question" class="relative flex h-12 w-52 text-white font-semibold text-l bg-sky-400 hover:bg-sky-500 rounded-xl justify-center items-center" onclick="add_field()">
                <input type="submit" value="Create Survey" class="relative flex h-12 w-52 text-white font-semibold text-l bg-sky-400 hover:bg-sky-500 rounded-xl justify-center items-center">
            </form>

            <script>
                var fieldsCounter = 0;
                function add_field() {
                    let question = document.createElement('div');
                    question.id = `question${fieldsCounter}`

                    let questionInput = document.createElement('div');
                    questionInput.innerHTML = `<input required type='text' name='field${fieldsCounter}' id='field${fieldsCounter}'
                                               placeholder="e.g. Was your child adequately supported?" class="relative flex border-[1px] rounded-xl border-gray-300 h-12 w-96 p-3">`;
                    questionInput.style.display = "inline-block"

                    let removeQuestionButton = document.createElement('div');
                    removeQuestionButton.innerHTML = `<a href="javascript:document.getElementById('questions').removeChild(document.getElementById('question${fieldsCounter}'));"
                                                        class="relative flex h-12 w-12 text-white font-semibold text-l bg-red-600 hover:bg-red-500 rounded-xl justify-center items-center">
                                                       X
                                                      </a>`;
                    removeQuestionButton.style.display = "inline-block";

                    question.appendChild(questionInput);
                    question.appendChild(removeQuestionButton);

                    document.getElementById('questions').appendChild(question)
                    fieldsCounter++;
                }
                add_field();
            </script>
        </div>
    </div>
{% endblock %}