{% extends "base.html" %}
{% block title %}Create survey{% endblock %}
{% block content %}
    <h3>Create survey for program "{{ program.name }}"</h3>
    <form method="post" id="form" action="{% url "org_admin:create_survey" program_pk=program.pk %}">
        {% csrf_token %}
        <label for="survey_title">Title</label>
        <input type="text" id="survey_title" name="survey_title">
        <br>
        <input type="button" value="Add another question" onclick="add_field()">
        <input type="submit" value="Create Survey">
    </form>

    <script>
        var fieldsCounter = 0;
        function add_field() {
            var labelInput = document.createElement('div');
            labelInput.innerHTML = `<label for='field${fieldsCounter}'>Question:</label>
            <input type='text' name='field${fieldsCounter}' id='field${fieldsCounter}'>`;
            document.getElementById('form').appendChild(labelInput);
            fieldsCounter++;
        }
        add_field();
    </script>
{% endblock %}