<div class="relative flex mt-5 w-full h-[5%] flex-row justify-between items-center space-x-8">
    <h1 class="relative flex text-2xl font-semibold whitespace-nowrap">Student Roster</h1>
    <div class="relative flex flex-row space-x-10">
        <form class="relative flex flex-row space-x-8 items-center " method="GET">
                <select class="relative flex ring-1 bg-white ring-gray-300 w-40 h-10 rounded-xl flex-row justify-between px-5 items-center" name="roster-sort-by">
                    <option value="" disabled>Sort by...</option>
                    <option value="name" {% if sort_by == "name" %}selected{% endif %}>Name</option>
                    <option value="age" {% if sort_by == "age" %}selected{% endif %}>Age</option>
                    <option value="grade" {% if sort_by == "grade" %}selected{% endif %}>Grade</option>
                </select>
                <select class="relative flex ring-1 bg-white ring-gray-300 w-40 h-10 rounded-xl flex-row justify-between px-5 items-center" name="roster-asc">
                    <option value="" disabled>Order as...</option>
                    <option value="ascending" {% if ascending %}selected{% endif %}>Ascending</option>
                    <option value="descending" {% if not ascending %}selected{% endif %}>Descending</option>
                </select>
            <input value="{{ search }}" placeholder="Search by name" name="roster-search" class="relative flex ring-1 text-gray-500 ring-gray-300 w-40 h-10 rounded-xl flex-row justify-start px-3 items-center"/>
            <button class="text-white bg-sky-400 relative font-semibold flex rounded-2xl h-10 w-32 third-color flex-col justify-center items-center cursor-pointer hover:scale-110 hover:opacity-90 transition-all duration-100 ease-out" type="submit">View results</button>
            <a class="relative flex truncate whitespace-nowrap text-blue-400 cursor-pointer hover:text-blue-500 hover:scale-110 hover:opacity-90 transition-all duration-100 ease-out " href="{{ request.path }}">Reset filters</a>
        </form>
    </div>
</div>
<div class="relative flex overflow-x-auto h-[75%] w-full rounded-lg bg-gray-200">
    <table class="relative w-full table-auto text-left">
        <thead class="relative bg-gray-200">
            <tr class="relative h-16">
            <th class="relative px-8 font-normal">Name</th>
            <th class="relative px-8 font-normal">Pronouns</th>
            <th class="relative px-8 font-normal">Age</th>
            <th class="relative px-8 font-normal">Grade</th>
            <th class="relative px-8 font-normal">Allergies</th>
            <th class="relative px-8 font-normal"></th>
            </tr>
        </thead>
        <tbody class="relative">
            {% if ascending %}
                {% for child in students|dictsort:sort_by %}
                    {% include "org_admin/roster_entry_snippet.html" with child=child %}
                {% endfor %}
            {% else %}
                {% for child in students|dictsortreversed:sort_by %}
                    {% include "org_admin/roster_entry_snippet.html" with child=child %}
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
</div>