{% extends "base.html" %}
{% block title %}Program: {{ program.name }}{% endblock %}
{% block content %}
    <div class="relative flex w-screen h-screen max-w-screen flex-col overflow-y-auto">
        <div class="relative flex flex-row h-full w-full overflow-y-auto">
            <div class="relative flex h-full w-1/5 justify-center items-center bg-gray-200 overflow-y-auto">
                <div class="relative flex w-[82%] h-[90%]">
                    <ul class="relative flex flex-col w-full justify-start space-y-5 overflow-visible bg-gray-200">
                        <li class="relative flex truncate whitespace-nowrap h-10 cursor-pointer hover:scale-110 hover:opacity-90 transition-all duration-100 ease-out">
                            <a class="relative flex font-semibold text-black bg-gray-200 hover:bg-gray-200">{{ program.name }}</a>
                        </li>
                        {% for program in programs %}
                        <div class="relative flex truncate whitespace-nowrap cursor-pointer hover:bg-gray-200 hover:scale-110 hover:opacity-90 transition-all duration-100 ease-out">
                            <a class="relative flex  text-black hover:bg-gray-200 bg-gray-200">{{program.name}}</a>
                        </div>
                        {% empty %}
                            No programs are available yet.
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="relative flex flex-grow justify-center flex-col items-center bg-white overflow-y-auto">
                <div class="relative flex w-[90%] mb-2 justify-between">
                    <a class="relative flex truncate whitespace-nowrap text-blue-400 cursor-pointer hover:text-blue-500 hover:scale-110 hover:opacity-90 transition-all duration-100 ease-out " href="{% url "org_admin:programs" %}">Back to all programs</a>
                    <a class="relative flex truncate whitespace-nowrap text-blue-400 cursor-pointer hover:text-blue-500 hover:scale-110 hover:opacity-90 transition-all duration-100 ease-out">Edit Program Layout</a>
                </div>
                <div class="relative flex h-[90%] w-[90%] flex-col justify-start items-start space-y-3">
                    <div class="relative flex w-full h-[5%] flex-row justify-between">
                        <h1 class="relative flex text-2xl font-semibold">Description</h1>
                        
                    </div>
                    <div class="relative flex mt-3 max-h-[20%] truncate bg-gray-200 items-center rounded-lg py-2 px-5 w-full">
                        <p class="relative flex">
                            {{ program.description }}
                        </p>
                    </div>
                    <div class="relative flex w-full h-[5%] flex-row justify-between">
                        <h1 class="relative flex text-2xl font-semibold">Registration</h1>
                    </div>
                    <div class="relative flex items-center mt-3 max-h-[20%] truncate bg-gray-200 rounded-lg py-2 px-5 w-full">
                        <p class="relative flex">
                            {{ program.registration_opens }} until {{ program.registration_closes }}
                        </p>
                    </div>
                    <div class="relative flex w-full h-[5%] flex-row justify-between">
                        <h1 class="relative flex text-2xl font-semibold">Program Starts</h1>
                    </div>
                    <div class="relative flex items-center mt-3 max-h-[20%] truncate bg-gray-200 rounded-lg py-2 px-5 w-full">
                        <p class="relative flex">
                            {{ program.program_starts }} and ends: {{ program.program_ends }}
                        </p>
                        
                    </div>
                    <div class="relative flex mt-5 w-full h-[5%] flex-row justify-between items-center">
                        <h1 class="relative flex text-2xl font-semibold whitespace-nowrap">Student Roster</h1>
                        <div class="relative flex flex-row space-x-10">
                            <div class="relative flex ring-1 ring-gray-300 w-40 h-10 rounded-xl flex-row justify-between px-5 items-center">
                                <div class="text-gray-400">
                                    Sort by...
                                </div>
                                <div class="text-2xl text-gray-500 mb-3">
                                    &#8964;
                                </div>
                            </div>
                            <div class="relative flex ring-1 ring-gray-300 w-40 h-10 rounded-xl flex-row justify-between px-5 items-center">
                                <div class="text-gray-400">
                                    Ascending
                                </div>
                                <div class="text-2xl text-gray-500 mb-3">
                                    &#8964;
                                </div>
                            </div>
                            <input class="relative flex ring-1 text-gray-500 ring-gray-300 w-40 h-10 rounded-xl flex-row justify-start px-5 items-center" placeholder="Search..." />
                            </input>
                        </div>
                    </div>
                    <table class="relative mt-5 flex rounded-lg h-[75%] w-full bg-gray-200 flex-col items-center space-y-3">
                        <thead class="relative rounded-t-lg flex flex-row bg-gray-300 h-16 w-full items-center pr-20">
                            <tr class="flex-row relative flex items-center justify-around w-full space-x-5 whitespace-nowrap">
                                <th class="relative flex font-normal">Last Name</th>
                                <th class="relative flex font-normal">First Name</th>
                                <th class="relative flex font-normal">Age</th>
                                <th class="relative flex font-normal">Grade</th>
                                <th class="relative flex font-normal">Allergies</th>
                                <th class="relative flex font-normal"></th>
                            </tr>         
                        </thead>
                        <tbody class="relative flex w-full flex-col items-center">
                            {% for child in program.students.all %}
                            <tr class="relative flex w-[97%] flex-row items-center justify-around space-x-10 whitespace-nowrap h-16 rounded-3xl bg-gray-300">
                                <td class="relative flex">
                                    {{ child.name }}
                                </td>
                                <td class="relative flex">
                                    John
                                </td>
                                <td class="relative flex">
                                    13th
                                </td>
                                <td class="relative flex">
                                    7th
                                </td>
                                <td class="relative flex">
                                    Peanuts, po...
                                </td>
                                <td class="relative flex text-gray-400 text-xl">
                                    <a href="{% url "org_admin:view_child" child_pk=child.pk %}">></a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="relative flex flex-col w-[90%]">
                    <h1 class="relative flex text-2xl font-semibold whitespace-nowrap">Surveys</h1>
                    <div class="relative flex flex-col space-x-10">
                        {% for survey in program.surveys.all %}
                            Name: {{ survey.name }}
                            <a href="{% url "org_admin:view_survey_responses" survey_pk=survey.pk %}">View responses</a>
                        {% empty %}
                            No surveys have been created for this program yet.
                        {% endfor %}
                        <a href="{% url "org_admin:create_survey" program_pk=program.pk %}">Create survey</a>
                    </div>
                </div>
                <div class="relative flex flex-col w-[90%]">
                    <h1 class="relative flex text-2xl font-semibold whitespace-nowrap">Announcements</h1>
                    <div class="relative flex flex-col space-x-10">
                        {% for announcement in program.announcements.all|dictsortreversed:"time_sent" %}
                            <h3>Title: {{ announcement.title }}</h3>
                            {{ announcement.content|linebreaks }}
                            (Sent on {{ announcement.time_sent }})<br>
                            <br>
                        {% endfor %}
                        <a href="{% url "org_admin:make_announcement" program_pk=program.pk %}">Make announcement</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}