{% extends "base.html" %}
{% load program_tags %}

{% block title %}Title{% endblock %}
{% block content %}
<h2>Register for the program "{{ program.name }}"</h2>
<form method="POST">
    {% csrf_token %}
    <label for="students">Students:</label>
    {% if user.children.exists %}
        <select name="students" id="students" required multiple>
            {% for child in user.children.all %}
                {% if child in program.students.all %}
                    <option disabled>{{ child.name }} is already registered for this program</option>
                {% else %}
                    <option value="{{ child.pk }}">{{ child.name }}</option>
                {% endif %}
            {% endfor %}
        </select>
    {% endif %}
    <a href="{% url "guardian:add_child_then_redirect" redirect_to=request.path %}">Add a child</a>
    <input type="hidden" value="{{ user.pk }}" name="user">
    <br>
    {% if user.children.exists %}
        <input type="submit" value="Register">
    {% endif %}
</form>
{% endblock %}