{% extends "base.html" %}
{% load program_tags %}

{% block title %}Programs list{% endblock %}
{% block content %}
<h3>Programs:</h3>
{% for program in programs %}
    {{ program.name }}
    {% if now > program.program_ends %} (Program has ended)
    {% elif now <= program.registration_opens %} (Open for registration)
    {% elif now > program.registration_opens %} (Registration closed)
    {% endif %}
    <a href="{% url "guardian:view_program" program_pk=program.pk %}">[View]</a>
    <br>
    {% if user|has_children_in:program %}
        Your children registered for this program: {{ user|children_in:program|join:", " }}
    {% else %}
        None of your children are registered for this program.
    {% endif %}
    {% if user|has_unread_announcements_in:program and user|has_children_in:program %}
            This program has new announcements.<br>
    {% endif %}
    <br>
{% empty %}
    No programs are available yet.
{% endfor %}
{% endblock %}