<!--NOT FINISHED-->

{% extends "base.html" %}
{% load static %} <!-- Lets you add CSS -->
{% load custom_tags %}
{% block content %}
<div class="bg-[#F0F0F0] flex justify-center min-h-screen">
    <div class="mt-[5vh] flex flex-col items-center mb-[5vh]">
        <img src="{% static "LEC_logo.png" %}" class="w-[30vw]" alt="Lafayette Empowerment Center logo">

        <div class="bg-white w-full px-[10%] pt-[10%] pb-[5%] rounded-2xl">
            <p class="text-3xl font-medium text-center mb-3">Create Account</p>

            {% include "stylized_form_snippet.html" with form=form method="POST" submit_text="Create" %}

            <div class="text-center mt-8 cursor-pointer">
                <p class="text-[#4E87DD] text-lg">Need help? Click here to contact us.</p>
            </div>
        </div>
    </div>
</div>
</html>
{% endblock content %}
{##}
{#{% extends "base.html" %}#}
{#{% block title %}Create Account{% endblock %}#}
{#{% block content %}#}
{#<form method="POST">#}
{#    {% csrf_token %}#}
{#    {{ form.as_p }}#}
{#    <input type="submit" value="Create">#}
{#</form>#}
{#{% endblock %}#}