{% extends "base.html" %}
{% load static %}

{% block title %}Login/Create Account{% endblock %}
{% block body_attributes %} class="bg-[#F0F0F0] justify-center" {% endblock %}
{% block content %}
<div class="mt-[5vh] flex flex-col items-center">
    <img src="{% static "lec_logo.png" %}" class="w-[30vw]" alt="Lafayette Empowerment Center logo">

    <div class="bg-white w-[50%] px-[10%] pt-[7%] pb-[5%] rounded-2xl">

        <div class="py-4 bg-[#0060A6] text-white text-center rounded-2xl cursor-pointer hover:opacity-90 transition-all duration-100 ease-out">
            <a href="{% url "accounts:login" %}"><h2 class="text-3xl">Login</h2></a>
        </div>
        <div class="mt-8 py-4 bg-[#AB2B6E] text-white text-center rounded-2xl cursor-pointer hover:opacity-90 transition-all duration-100 ease-out">
            <a href="{% url "accounts:create" %}"><h2 class="text-3xl">Create Account</h2></a>
        </div>

        <div class="text-center mt-8 cursor-pointer">
            <p class="text-[#4E87DD] text-lg">Need help? Click here to contact us.</p>
            <!--TODO implement some form of this-->
        </div>
    </div>
</div>
{% endblock %}