{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="bg-[#F0F0F0] flex justify-center min-h-screen">
    {% load static %}
    <div class="mt-[5vh] flex flex-col items-center">
        <img src="{% static "LEC_logo.png" %}" class="w-[30vw]" alt="Lafayette Empowerment Center logo">

        <div class="bg-white w-full px-[10%] pt-[10%] pb-[5%] rounded-2xl">
            <a href="{% url "accounts:login_register" %}" class="text-[#4E87DD] text-lg">< Back</a>
            <p class="text-3xl font-medium text-center mb-3">Login</p>

            <form method="post">
                {% include "stylized_form.html" with form=form %}
                <button type="submit" class=" mt-6 form-control block w-full bg-blue-500 py-1.5 hover:bg-blue-700 text-white font-bold bg-clip-padding py-3 px-4 border focus:border-blue-600 rounded">Log In</button>
            </form>

            <div class="text-center mt-8 cursor-pointer">
                <p class="text-[#4E87DD] text-lg">Forgot password? Click here.</p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
