<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> <!-- Ensures optimal rendering on mobile devices. -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" /> <!-- Optimal Internet Explorer compatibility -->
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <title>Title</title>
</head>
<body class="flex-container" style="background-color: #F8F8F8; flex-direction: column">
<main>
    <h1 id="page_title">Make a Contribution</h1>

    <div class="flex-container">
        <div style="flex-basis: 60vw;">
            <img id="stock_photo" src="../static/children_stock.jpg" />
        </div>
        <div id="flex-text">
            <h2 style="font-size: 40px; font-family: sans-serif;">Support Us!</h2>
            <p style="font-size: 20px; font-family: sans-serif;">Short blurb. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                labore et dolore magna aliqua. Enim diam vulputate ut pharetra. Fames ac turpis egestas sed tempus urna et
                pharetra. Sollicitudin ac orci phasellus egestas tellus.</p>

           <script src="https://www.paypalobjects.com/donate/sdk/donate-sdk.js" charset="UTF-8"></script>

            <div id="paypal-donate-button-container"></div>

            <script>
               PayPal.Donation.Button({
                   env: 'sandbox',
                   hosted_button_id: 'MHCAQZSA5ZMWN',
                   // business: 'YOUR_EMAIL_OR_PAYERID',
                   image: {
                       src: '../',
                       title: 'PayPal - The safer, easier way to pay online!',
                       alt: 'Donate with PayPal button'
                   },
                   onComplete: function (params) {
                       // Your onComplete handler
                   },
               }).render('#paypal-donate-button-container');
            </script>

        </div>
    </div>
</main>
</body>
</html>