{% load custom_tags %}
<form method="{{ method }}" enctype="multipart/form-data" class="relative space-y-5 pb-12 flex-col overflow-visible">
    {% csrf_token %}
    {% for field in form %}
        <div class="relative flex space-y-2 flex-col">
            <h1 class="relative flex text-l">{{ field.label }}</h1>
            {% if field.widget_type == "text" or field.widget_type == "password" or field.widget_type == "select" or field.widget_type == "email" %}
                {% render_field field class="relative flex border-[1px] rounded-xl border-gray-300 h-12 w-72 p-3" %}
            {% elif field.widget_type == "textarea" %}
                {% render_field field class="relative flex border-[1px] rounded-xl border-gray-300 h-52 w-96 items-center justify-center overflow-visible w p-3" %}
            {% elif field.widget_type == "number" %}
                {% render_field field class="relative flex border-[1px] rounded-xl border-gray-300 h-12 w-16 items-center justify-center overflow-visible w p-3" %}
            {% elif field.widget_type == "datetime" %}
                {% render_field field class="relative flex border-[1px] rounded-xl border-gray-300 h-12 w-72 p-3" %}
            {% elif field.widget_type == "clearablefile" %} {# images #}
                {% render_field field class="relative flex border-[1px] rounded-xl border-gray-300 h-12 w-72 p-3" %}
            {% else %}
                THE WIDGET TYPE {{ field.widget_type }} DOESN'T HAVE A STYLE CLASS! FIX IT!
            {% endif %}
            {% if field.errors %}
                <div class="text-red-500 text-sm">
                    {% for error in field.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}
            {% if field.help_text %}
                <div class="relative flex text-gray-500 text-sm break-all w-72">
                    {{ field.help_text }}
                </div>
            {% endif %}
            {% if field.widget_type == "datetime" %}
                <div class="text-gray-500 text-sm">
                    Enter as YYYY-MM-DD HH:MM (24 hour time). For example, April 15, 2023 at 1:02PM would be 2023-04-15 13:02.
                </div>
            {% endif %}
        </div>
    {% endfor %}
    <button type="submit" class="relative flex h-12 w-52 text-white font-semibold text-l bg-sky-400 hover:bg-sky-500 rounded-xl justify-center items-center">
    {{ submit_text }}
    </button>
</form>